<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watermelon"
        tools:replace="android:label,android:name,android:theme,android:roundIcon,android:icon">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_ad_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/sadcezs"/>

        <activity
            android:name=".ui.sa.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ma.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true"/>
        <activity
            android:name=".ui.ea.EndActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.la.MoreActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.sta.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
    </application>

</manifest>